<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+icon" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <title>네비게이션 서랍</title>
</head>
<body>
    <!--탐색서랍 : v-navigatiion-drawer toolbar,list이용-->
    <div id="app">
        <v-app>
            <v-app-bar app color="primary" dark>
                <v-app-bar-nav-icon @click="nDrawer = true"></v-app-bar-nav-icon>
                <v-toolbar-title>Header</v-toolbar-title>
            </v-app-bar>

            <v-navigation-drawer temporary v-model="nDrawer">
                <v-toolbar flat height="70px">
                    <v-list>
                        <v-list-item>
                            <v-list-item-avatar>
                                <img src="" alt="">
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>호두</v-list-item-title>
                                <v-list-item-subtitle>Login</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-toolbar>
                <v-divider></v-divider>

                <!--menulist 작성-->
                <v-list>
                    <!--링크를 전체에 걸어주면 선택하는 영역이 넓어짐-->
                    <v-list-item @click="" v-for="item in itemList" :href="item.link">
                        <v-list-item-action >
                            <v-icon class="red--text">{{item.icon}}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{item.title}}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>


                </v-list>

            </v-navigation-drawer>
        </v-app>
    </div>

    <script>
        new Vue({
            el : '#app',
            vuetify : new Vuetify(),
            data : {
                nDrawer : false,
                itemList : [
                    {
                        title : 'Starbucks',
                        icon : 'mdi-star',
                        link : 'https://www.starbucks.co.kr',
                    },
                    {
                        title : 'Apple',
                        icon : 'mdi-apple',
                        link : 'https://www.apple.com',
                    },
                    {
                        title : 'FaceBook',
                        icon : 'mdi-facebook',
                        link : 'https://www.facebook.com',
                    }
                ],
            },
        })

    </script>
</body>
</html>